body {
    margin: 0px;
}

/* Styles for header */
header {
    margin: 0;
    background-color: #9BA8AB;
    padding: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -webkit-body;
    width: 100%;
}

.headline {
    margin-left: 15px;
    font-family:'Open Sans', sans-serif;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FAFAFF;
}

.cta-button {
    background-color: #11212D;
    color: #CCD0CF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 45px; /* Adjust the value to move the logo to the right */
    margin-right: 45px;
}

.cta-button:hover {
    background-color: #CCD0CF;
    color: #06141B;
}

.container {
    width: 100px;
    display: flex;
    justify-content: center; /* Horizontally center the cards */
    align-items: center; 
    margin: 0 auto; /* Center horizontally */
    position: relative;
    padding: 45px;
}

.container .card {
    position: relative;
    border-radius: 10px;
    flex: 1; /* Distribute remaining space equally */
    margin-right: 10px; /* Add space between cards */
    margin: 0 auto;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #89a8af;
}

.container .card:nth-child(2) .icon {
    background: #7f8d95;
}

.container .card:nth-child(3) .icon {
    background: #1f2d2cc4;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #9BA8AB;
} 

.container a {
    text-decoration: none;
    color: #414141;
}

footer {
    background-color: #9BA8AB;
    padding: 27px; /* Add padding for better appearance */
    text-align: center;
    margin: 0; /* Remove right margin */
    width: 100%; /* Ensure footer spans the full width of the page */
}

footer ul {
    list-style-type: none; /* Remove bullets from the list */
    padding: 0; /* Remove default padding */
}

footer ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add some spacing between list items */
}

footer ul li a {
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove underline from links */
}
