/* Resetting default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Styling the feature container */
  .feature-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
  }
  
  /* Styling individual feature boxes */
  .feature-box {
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center; /* Center text and icon */
  }
  
  /* Styling icons */
  .feature-box i {
    font-size: 48px; /* Adjust size as needed */
    margin-bottom: 20px; /* Space between icon and text */
  }
  
  /* Styling headers */
  .feature-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* Styling feature content */
  .feature-content {
    text-align: left;
  }
  
  /* Styling paragraphs */
  .feature-content p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /* Styling unordered lists */
  .feature-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  /* Styling list items */
  .feature-content li {
    font-size: 1rem;
    margin-bottom: 5px;
  }

footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;

}
